.footer {
  background-image: url('../src/assets/universe.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-top: solid 1px white;
  margin-top: 40px;
  padding: 50px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}