.GameCard {
  width: 500px;
  height: 400px;
  /* Altura fixa para todos os cartões */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  transition: transform 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.671);
    transform: translateY(-5px);

  }

  .details-text {
    display: none;
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.781);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: left;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    p {
      font-size: 1rem;
      margin-bottom: 10px;
    }

  }

  &:hover .details-text {
    display: block;

  }
}

.GameIMG {
  width: 100%;
  height: 100%;
  /* Altura da imagem em relação à altura do .GameCard */
  overflow: hidden;
}

.GameIMG img {
  width: 100%;
  height: 100%;
  /* Garante que a imagem cubra completamente o espaço disponível */
  object-fit: cover;
}

.btn-details {
  color: transparent;
}